
//profil_aniamtions
@for $a from 1 through 6{
    @keyframes showup_#{$a} {
        from {
            transform: translateY(100px);
            opacity: 0;
        }

        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes showup_#{$a}{
        from{
            transform:translateY(100px);
            opacity:0;
        }
        to{
            transform:translateY(0px);
            opacity:1;
        }
    }
    .animation_showUp_#{$a} {
        animation: showup_#{$a} 2s ease-in-out both;
        transform-origin: bottom;
        animation-delay: $a*100ms;
    }
    
}

//progress_animations
@for $i from 1 through 20{
    @keyframes progress_#{$i*5}{
                              from{
                                  width:0%
                              }
                              to{
                                  width:$i*5%;
                              }
    }
    .animation_progress_#{$i*5} {
        animation: progress_#{$i*5} 2s linear both;
        
    }
}
@keyframes header-animation{
    0%{
        width:0%
    }
    75%{
        width:100%;
        opacity: 1;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity:1
    }
}

.header_animation{
    overflow-x: hidden;
    white-space: nowrap;
    animation: 1s header-animation linear both;
    animation-delay: 500ms;
}