//backwards settings
.profil_block{
    opacity:0;
}
.progressbar_inline{
    transform:scaleX(0)
}
.diploma_block {
    &_left {
        transform: translateX(-100%)
    }
    &_right{
        transform:translateX(100%)
    }
}


//profil_aniamtions
@for $a from 1 through 6{
    @keyframes showup_#{$a} {
        from {
            transform: translateY(100px);
            opacity: 0;
        }

        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes showup_#{$a}{
        from{
            transform:translateY(100px);
            opacity:0;
        }
        to{
            transform:translateY(0px);
            opacity:1;
        }
    }
    .animation_showUp_#{$a} {
        animation: showup_#{$a} 2s ease-in-out both;
        transform-origin: bottom;
        animation-delay: $a*100ms;
    }
    
}

//progress_animations
@for $i from 1 through 20{
    @keyframes progress_#{$i*5}{
                              from{
                                  transform:scaleX(0);
                              }
                              to{
                                  transform: scaleX($i*0.05);
                              }
    }
    .animation_progress_#{$i*5} {
        animation: progress_#{$i*5} 2s ease-in-out both;
        transform-origin: 0% 50%;
    }
}


//diploma animations
@keyframes diploma_slide_left{
    0%{
        transform:translateX(-100%);

    }
    85%{
        transform:translateX(0%)
    }
    90%{
        transform:translateX(-5%)
    }
    100%{
        transform:translateX(0%)
    }
}
.diploma_slide_left{
    animation:diploma_slide_left 3s ease-in both;
}

@keyframes diploma_slide_right {
    0% {
        transform: translateX(100%);
    }

    85% {
        transform: translateX(0%)
    }

    90% {
        transform: translateX(5%)
    }

    100% {
        transform: translateX(0%)
    }
}
.diploma_slide_right {
    animation: diploma_slide_right 3s ease-in both;
}