*{
    padding:0;
    margin:0;
    font-family: rubik;
}

nav{
    z-index: 30;
    height:10vh;
}

section{
    padding-top:5vh;
    min-height:100vh;
}
h1{
    font-family: heater;
    font-size:8em;
}
h2{
    background-color: $ux-orange;
    @include slide-animation;
}

h3{
    font-family:heater;
    font-size:4em;
}

.vh-50{
    min-height:50vh;
}