body{
        overflow-x:hidden;
}

header{
    @include full-page;

}
section {
    @include section-config;
    padding-top:8vh;
}


.header {
    height: 100vh;
    background-image: url('img/header_background.jpg');
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_front {
        background-color: grey;
        opacity: 0.8;
        align-self: center;
        width: 100%;
    }
}


.competence{
    display:grid;
}

.skill{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:5%;
}
.progressbar {
    display:flex;
    flex-direction:column;
    justify-content:center;
    &_inline{
        display:inline-block;
        border:3px black solid;
        width:100%;
        border-radius:20px;
        text-align:center;
    }
}
#profil{
    padding-top:10vh;
    background-color:lightslategrey;
    min-height:100vh;
}
.profil {
    &_container {
        border-radius: 10px;
        background-color: antiquewhite;
        padding:2% 2%;
    }

    &_logo {
        &_icon {
            width:30%;
            margin:auto;
        }
    }
    &_description{
       justify-content:center;
       margin-top:1%;
       margin-bottom:1%;
       p{
           text-align:center;
       }
    }

}

#skills{
    background-color:skyblue;
}

.title{
    justify-content:center;
}
#diploma{
    background-color:$blue;
}
#experience{
    background-color:slategrey;
}

.portfolio{
    &_container{

    }

}