body{
    max-width:100%;
    overflow-x: hidden;
}
header{
    height:100vh;
    background-image: url('./img/header_background.jpg');
}

#header{
    &_bg{
        background-color: $ux-blue;
        opacity: 0.8;
    }
}

