body{
    max-width:100%;
    overflow-x: hidden;
}

header{
    @include full-page;

}
section {
    @include section-config;
    padding-top: 8vh;
    padding-bottom:8vh;
}
.section {

    &_title {
        text-align: center;
        width: 100%;
        font-size: 3em;
        font-weight: bold;
        background-color: grey;
        opacity: 0.9;
    }
}


.header {
    height: 100vh;
    background-image: url('img/header_background.jpg');
    display: flex;
    @include parallax;

    &_front {
        background-color: grey;
        opacity: 0.9;
        align-self: center;
        width: 100%;
    }
}

#profil {
    padding-top: 10vh;
    background-color: $blue;
}

.profil {
    &_container {
        border-radius: 10px;
        background-color: antiquewhite;
        display:flex;
        justify-content:space-around;
        flex-direction:column;
        margin:1%;
        height:100%;
    }
    &_block{
        margin-top:1%;
    }

    &_logo {
        &_icon {
            width: 50%;
            margin: auto;
            &_eft{
                width:100%;
            }
        }
    }

    &_description {
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 1%;

        p {
            text-align: center;
        }
    }
}

.competence{
    display:grid;
}
#skills {
    background-color: $grey;
}

.skill{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:5%;
}
.progressbar {
    justify-content: center;
    border: 3px black solid;
    border-radius: 5px;
    height: 40px;
    align-self: center;
    padding:0px;

    > span {
        display: block;
        height: 100%;
        border-radius:5px;
        background-color: rgb(43,194,83);
        background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
       
    }
}




    .title {
        justify-content: center;
    }

    #diploma {
        background-color: $blue;
    }

#experience {
    background-image: url('img/experience/background.jpg');
    background-size: cover;
    @include parallax;
    
    padding-bottom: 5%;
    position: relative;
    z-index: 2;
}

    #portfolio {
        z-index: 4;
        background-color: $blue;
        position: relative;
    }

    .portfolio {

        height:100vh;

        &_container {
            margin: auto;

            h4 {
                margin: auto;
            }
        }

        &_description {
            &_block {
                width: 100%;
            }

            &_image {
                width: 100%;
            }
        }
    }


    .contact {
        padding: 5px 0px;
        background-color: $grey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_CV{
            height:10vh;
            width:100%;
            background-color:antiquewhite;
            border:5px solid;
            border-color:dodgerblue;
        }
        &_logo {
            &_row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            &_block {
                width: 30%;
                margin: auto;
            }

            &_image {
                width: 100%;
            }
        }

        &_infos {
            background-color: slategrey;
            justify-content: space-around;
            &_lign{
                justify-content:space-around
            }
        }
    }