//config for diploma section
@media screen and (max-width:1100px){
	.container{
		margin:0px;
	}
	.reverse{
		display:flex;
		flex-direction:row-reverse;
	}
	.diploma {
		&_border {
			&_right {
				border-left: solid 3px red;
				padding: 3em 0px 3em 0px;
			}
		}
	}
	}