//timeline diploma

.timeline{
    display:flex;
    flex-direction:row;


}
.timeline{
    margin:auto;
}
.diploma {
    &_border {
        &_left {
            border-left: solid 3px red;
            padding: 3em 0px 3em 0px;
        }

        &_right {
            border-right: solid 3px red;
            padding:3em 0px 3em 0px;
            margin-right:0px;
        }
    }

    &_block {
        background-color: antiquewhite;
        &_card {
            padding: 2em;
        }
    }

    &_timeline {

        text-align: center;
        display: flex;

        &_year {
            align-self: center;
            padding:1.5em;
            border-radius: 50%;
            background-color: yellow;
            font-size: 2em;
        }
    }
}


//timeline experience

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.experience_container {
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.experience_container:before {
    content: '';
    width: 8px;
    height: 100%;
    background: #313131;
    position: absolute;
    left: 20px;
}

.job {
    background: white;
    padding: 20px;
    margin: 20px 60px;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    -webkit-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 41px -18px rgba(0,0,0,0.75);
}

.job h4 span {
    font-size: 16px;
    color: #6ab04c;
    border: 2px solid #535c68;
    padding: 4px;
    border-radius: 8px;
}

.job:before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    left: -10px;
    top: 50%;
    transform: translatey(-50%) rotate(45deg);
    position: absolute;
    z-index: -1;
    border: 2px solid #000;
}

.job:after {
    content: '';
    width: 32px;
    height: 32px;
    background: #badc58;
    border-radius: 50%;
    border: 4px solid #313131;
    left: -65px;
    top: 50%;
    transform: translatey(-50%) rotate(45deg);
    position: absolute;
}