body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  margin: auto;
  padding-top: 8vh;
}

.header {
  height: 100vh;
  background-image: url("img/header_background.jpg");
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_front {
  background-color: grey;
  opacity: 0.8;
  align-self: center;
  width: 100%;
}

.competence {
  display: grid;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.progressbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progressbar_inline {
  display: inline-block;
  border: 3px black solid;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}

#profil {
  padding-top: 10vh;
  background-color: lightslategrey;
  min-height: 100vh;
}

.profil_container {
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2% 2%;
}
.profil_logo_icon {
  width: 30%;
  margin: auto;
}
.profil_description {
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.profil_description p {
  text-align: center;
}

#skills {
  background-color: skyblue;
}

.title {
  justify-content: center;
}

#diploma {
  background-color: #19529C;
}

#experience {
  background-color: slategrey;
}

.navbar {
  background-color: #6A6A73;
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.navbar_minified {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #6A6A73;
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0px;
}
.navbar_minified_off {
  display: none;
}

.logo {
  height: 8vh;
}
.logo_jquery {
  height: 5vh;
}

.level {
  display: inline-block;
  border: 3px black solid;
  width: 2.5em;
  height: 1.2em;
  margin: 3px;
}
.level_on {
  background-color: springgreen;
}
.level_off {
  background-color: white;
}
.level_right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.level_left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

h2 {
  font-weight: bold;
  font-size: 3em;
}

h3 {
  margin-top: 4%;
  margin-bottom: 8%;
  text-align: center;
}

h4 {
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: row;
}

.timeline {
  margin: auto;
}

.diploma_border_left {
  border-left: solid 3px red;
  padding: 3em 0px 3em 0px;
}
.diploma_border_right {
  border-right: solid 3px red;
  padding: 3em 0px 3em 0px;
  margin-right: 0px;
}
.diploma_block {
  background-color: antiquewhite;
}
.diploma_block_card {
  padding: 2em;
}
.diploma_timeline {
  text-align: center;
  display: flex;
}
.diploma_timeline_year {
  align-self: center;
  padding: 1.5em;
  border-radius: 50%;
  background-color: yellow;
  font-size: 2em;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience_container {
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  margin: 0 auto;
  width: 600px;
}

.experience_container:before {
  content: "";
  width: 8px;
  height: 100%;
  background: #313131;
  position: absolute;
  left: 20px;
}

.job {
  background: white;
  padding: 20px;
  margin: 20px 60px;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
}

.job h4 span {
  font-size: 16px;
  color: #6ab04c;
  border: 2px solid #535c68;
  padding: 4px;
  border-radius: 8px;
}

.job:before {
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  left: -10px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  position: absolute;
  z-index: -1;
  border: 2px solid #000;
}

.job:after {
  content: "";
  width: 32px;
  height: 32px;
  background: #badc58;
  border-radius: 50%;
  border: 4px solid #313131;
  left: -65px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
